.products{
  max-width: 124rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  @media (min-width: $tablet) {
    padding: 1.5rem;
  }
  @media (min-width: $desktop) {
    padding: 2rem;
  }
}

.product{
  min-width: 25%;
}

.product-inner{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: $product-width;
  margin: 0 auto;
  padding: 1.5rem;
  font-family: Verdana, sans-serif;
  color: $c-primary;
  word-break: break-all;
}

.product__img{
  width: auto;
  height: auto;
  max-width: 90%;
  margin-bottom: 2.5rem;
  transition: all 0.4s ease;
  cursor: pointer;

  &:hover{
    transform: scale(1.1);
  }
}

.product__type{
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  font-weight: 300;
}

.product__name{
  margin-bottom: 0.8rem;
  font-size: 1.3rem;
}

.product__price{
  font-size: 1.4rem;
  line-height: 1;
}

.product__price-wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.product__old-price{
  margin-right: 1rem;
  font-size: 1rem;
  font-weight: 300;
  text-decoration: line-through;
  line-height: 1;
}

.product__new-price{
  font-size: 1.3rem;
  color: $c-accent;
  line-height: 1;
}