.popup{
  width:100%;
  max-width: 300rem;
  margin: 0 auto;
  min-height:100%;
  background-color: rgba(0,0,0,0.7);
  overflow:hidden;
  position:fixed;
  top:0;
}
.popup__content{
  position: relative;
  width: 50%;
  max-width: 60rem;
  margin: 5rem auto 0;
  background: $c-bg-primary;

  @media (min-width: $large) {
    margin-top: 10rem;
  }
}

.popup__close{
  position: absolute;
  top: -3rem;
  right: -5rem;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  transition: all 0.4s ease;

  &:hover{
    transform: scale(1.1);
  }

  @media (min-width: $tablet) {
    top: 1rem;
    right: 1rem;
  }
}

.slide{
  height: 16rem;
  @media (min-width: $tablet) {
    height: 25rem;
  }

}

.slide__img{
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

.carousel-control.left,
.carousel-control.right{
  background-image: none!important;
}